* {
    box-sizing: border-box;
    outline: 2px solid black;
    margin: 0;
    padding: 0;
}

body {
    background-color: salmon;
}

.main-home {
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top: 25%;
}

.main-salmon {
    text-align: center;
}

.salmonpic {
    display: flexbox;
    max-width: 300px;
    max-height: auto;
    margin: 2em;
    justify-content: center;
}

.salmon-directions {
    display: flexbox;
    text-align: left;
    margin-left: .5em;
}

.pancakes {
    max-width: 300px;
    max-height: auto;
}

.navbar {
    flex: auto;
    margin-top: 0;
    list-style-type: none;
}

.navbar button {
    flex: auto;
    background-color: bisque;
    margin: 2em;
    height: 2em;
    width: 9em;
    background-color: bisque;
    border: 2px solid;
    font: 18px bolder;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.ingredients-salmon {
    list-style-type: none;
    font: 22px bolder;
}

footer {
    padding-right: 1em;
    margin-top: 1em;
    text-align: right;
    font-size: larger;
}

.main-salmon h1 {
    padding: .5em;
}

.pancakes-home {
    text-align: center;
}

.pancakes {
    margin-top: 1em;
}